MONGO_URI=mongodb://localhost:27017
DATABASE_NAME=document_vault
JWT_SECRET=your-super-secret-key-change-it-in-prod
JWT_ALGORITHM=HS256
JWT_EXPIRY_HOURS=24
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=postmessage
GOOGLE_DRIVE_REDIRECT_URI=http://localhost:8000/auth/google/drive/callback
GCS_BUCKET_NAME=vault-storage
GCS_SERVICE_ACCOUNT_JSON=gcs_key.json
FRONTEND_URL=http://localhost:5173
DIGILOCKER_CLIENT_ID=your-digilocker-client-id
DIGILOCKER_CLIENT_SECRET=your-digilocker-client-secret
DIGILOCKER_REDIRECT_URI=http://localhost:8000/digilocker/callback
